@import '../../variables.scss';

.projects {
    .background {
        background-image: url("../../assets/waves4.svg");
    }
    
    .project-group {
        padding-bottom: 6rem;
    }

    .projects-header {
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
        .text-header {
            &.hidden {
                transition: 2s opacity ease-in-out 0.33s, 1.5s transform ease-in-out 0.33s, 2s filter ease-in-out 0.33s;
                opacity: 0;
                transform: translateX(-75%);
                filter: blur(4px);
            }
            &.hidden.show {
                opacity: 1;
                transform: translateX(0);
                filter: blur(0);
            }
        }
    }

    .project-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 5vw 2em 5vw;
        column-gap: 5vw;
        align-items: center;
        margin-bottom: 4em;

        &.card-left {
            .img {
                order: 1;
            }
            .content {
                order: -1;
                .content-header {
                    text-align: left;
                }
            }
        }

        &.card-right {
            .img {
                order: -1;
            }
            .content {
                order: 1;
                .content-header {
                    text-align: right;
                }
            }
        }

        .img {
            img {
                max-width: 100%;
                max-height: 100%;
                border-radius: 5px;
                box-shadow: 4px 4px 10px 4px rgba($color: #000000, $alpha: 0.2);
            }
        }
        .content {
            .content-header {
                font-size: clamp(24px, 1.75em, 36px);
                font-weight: 500;
                margin-bottom: 1em;
            }
            .description {
                text-align: justify;
                font-family: 'Montserrat';
                font-size: clamp(16px, 0.8em, 20px);
                margin-bottom: 1em;
            }
        }

        &.hidden {
            .img {
                transition: 1.5s opacity ease-in-out 1.5s, 1.33s transform ease-in-out 1.5s, 1.33s filter ease-in-out 1.5s;
                transform: translateX(-25%);
                filter: blur(4px);
                opacity: 0;
            }
            .content {
                transition: 1.5s opacity ease-in-out 0.33s, 1.33s transform ease-in-out 0.33s, 1.33s filter ease-in-out 0.33s;
                transform: translateX(-25%);
                filter: blur(4px);
                opacity: 0;
            }
        }
        &.hidden.show {
            .img {
                opacity: 1;
                transform: translateX(0);
                filter: blur(0);
            }
            .content {
                opacity: 1;
                transform: translateX(0);
                filter: blur(0);
            }
        }
    }

    @media (max-width: $landscapeView) {
        .project-card {
            display: block;

            .img {
                margin-bottom: 1em;
            }
            
            .content {
                .content-header {
                    text-align: center !important;
                }
            }
            border-bottom: 3px solid rgba($color: $mainFontColor, $alpha: 0.6);

            &:last-of-type {
                border: none;
            }

            &.hidden {
                transition: 1s opacity ease-in-out;
                opacity: 0;
                .img {
                    transition: 1.5s opacity ease-in-out 0.33s, 1.33s transform ease-in-out 0.33s, 1.33s filter ease-in-out 0.33s; 
                }

                .content {
                    transition: 1.5s opacity ease-in-out 1.5s, 1.33s transform ease-in-out 1.5s, 1.33s filter ease-in-out 1.5s;
                }
            }
            &.hidden.show {
                opacity: 1;
            }
        }
    }
}
