@import '../../variables.scss';

.about {
    background: url("../../assets/waves2.svg");

    .content-center {
        padding: 6vh 0 12vh 4vw;
    }

    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 5vw;
        row-gap: 5vh;

        .description {
            width: max(50%, 500px);

            text-align: left;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: clamp(16px, 0.28em, 22px);
            letter-spacing: 0.05em;
            line-height: 1.6em;

            span {
                white-space: pre-line;
            }

            &.hidden {
                transition: 1s opacity ease-in-out 0.5s, 1s transform ease-in-out 0.5s, 1s filter ease-in-out 0.5s;
                transform: translateX(-25%);
                filter: blur(4px);
            }
            &.hidden.show {
                transform: translateX(0);
                filter: blur(0);
            }
        }
        .icons {
            width: max(50%, 500px);
            padding-right: 3vw;
            &.hidden {
                @for $i from 1 to 8 {
                    .icon-group-heading:nth-child(#{$i}) {
                        transition: 1s opacity ease-in-out $i * 0.8s, 0.1s filter ease-in-out $i * 0.8s;
                        opacity: 0;
                        filter: blur(4px);
                    }
                    @for $j from 1 to 8 {
                        .icon-group:nth-child(#{$i}) {
                            .icon:nth-child(#{$j}) {
                                transition: 1s opacity ease-in-out $i * 0.7s + $j * 0.3s, 0.1s filter ease-in-out $i * 0.7s + $j * 0.3s, 0.75s background-color ease-in-out;
                                opacity: 0;
                                filter: blur(4px);
                            }
                        }
                    }
                }
            }
            &.hidden.show {
                @for $i from 1 to 8 {
                    .icon-group-heading:nth-child(#{$i}) {
                        filter: blur(0);
                        opacity: 1;
                    }
                    @for $j from 1 to 8 {
                        .icon-group:nth-child(#{$i}) {
                            .icon:nth-child(#{$j}) {
                                opacity: 1;
                                filter: blur(0);
                            }
                        }
                    }
                }
            }
           
            .icon-group-heading {
                font-size: clamp(20px, 0.4em, 26px);
                font-weight: 500;
                font-family: 'Montserrat';
                letter-spacing: 0.05em;
            }
        }
    }

    @media (max-width: $mobileView) {
        .content-center {
            padding-left: 0;
        }
        .content {
            flex-wrap: wrap;
            
            .description {
                text-align: justify;
                border: none;

                .about-header {
                    display: flex;
                    justify-content: center;
                }
            }
            .description, .icons {
                width: 100%;
                padding-right: 0;
            }
        }
    }
}