@import '../../variables.scss';

.about {
    min-height: 100vh;
    padding-top: 4rem;
    background-color: #1a051e;

    .hidden {
        transform: translateX(-25%);
        transition: 2s all ease-in-out;
    }
    .hidden.show {
        transform: translateX(0);
        opacity: 1;
    }

    .text-header {
        text-align: left;
        font-family: 'Montserrat';
        font-size: 0.75em;
    }

    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .description {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 0.35em;
            text-align: left;
            letter-spacing: 0.01em;
            line-height: 1.5em;
            padding: 0 50px;
        }
    }
}