@import '../../variables.scss';

.about {
    min-height: 100vh;
    padding: 8rem 2.5rem;
    color: $mainFontColor;
    
    background: url("../../assets/waves2.svg");
    background-repeat: no-repeat;
    background-size: cover;

    .content-center {
        padding-top: 5vh;
        padding-left: 4vw;
    }

    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 5vw;
        row-gap: 5vh;

        .description {
            width: max(50%, 500px);

            text-align: left;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: clamp(16px, 0.28em, 22px);
            letter-spacing: 0.05em;
            line-height: 1.6em;

            span {
                white-space: pre-line;
            }

            .text-header {
                text-align: left;
                font-family: 'Poppins';
                font-size: clamp(26px, 2em, 42px);
                margin-bottom: 1.5em;
            }

            &.hidden {
                transition: 1s opacity ease-in-out 1s, 1s transform ease-in-out 1s, 1s filter ease-in-out 1s;
                transform: translateX(-25%);
                filter: blur(4px);
            }
            &.hidden.show {
                transform: translateX(0);
                filter: blur(0);
            }
        }
        .icons {
            width: max(50%, 500px);
            padding-right: 3vw;
            margin-top: 0.5em;
            &.hidden {
                @for $i from 1 to 8 {
                    .icon-group-heading:nth-child(#{$i}) {
                        transition: 1s opacity ease-in-out 1s + $i * 1s, 1.1s filter ease-in-out 1s + $i * 1s;
                        opacity: 0;
                        filter: blur(4px);
                    }
                    @for $j from 1 to 8 {
                        .icon-group:nth-child(#{$i}) {
                            .icon:nth-child(#{$j}) {
                                transition: 1s opacity ease-in-out 1s + $i * 1s + $j * 0.25s, 1.1s filter ease-in-out 1s + $i * 1s + $j * 0.25s;
                                opacity: 0;
                                filter: blur(4px);
                            }
                        }
                    }
                }
            }
            &.hidden.show {
                @for $i from 1 to 8 {
                    .icon-group-heading:nth-child(#{$i}) {
                        filter: blur(0);
                        opacity: 1;
                    }
                    @for $j from 1 to 8 {
                        .icon-group:nth-child(#{$i}) {
                            .icon:nth-child(#{$j}) {
                                opacity: 1;
                                filter: blur(0);
                            }
                        }
                    }
                }
            }
           
            .icon-group-heading {
                font-size: clamp(20px, 0.4em, 26px);
                letter-spacing: 0.05em;
            }
        }

    }

    .experience-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5vw;
        margin-top: 10vh;
        font-family: 'Montserrat';

    }

    @media (max-width: 800px) {
        .content-center {
            padding-left: 0;
        }
        .content {
            flex-wrap: wrap;
            .description {
                text-align: justify;
                border: none;
            }
            .description, .icons {
                width: 100%;
                padding-right: 0;
            }
        }
    }
}