@import '../../variables.scss';

.experience {
    .background {
        background-image: url("../../assets/waves3.svg");
    }

    .experience-header {
        display: flex;
        justify-content: center;
        .text-header {
            &.hidden {
                transition: 2s opacity ease-in-out 0.33s, 1.5s transform ease-in-out 0.33s, 2s filter ease-in-out 0.33s;
                opacity: 0;
                transform: translateX(-75%);
                filter: blur(4px);
            }
            &.hidden.show {
                opacity: 1;
                transform: translateX(0);
                filter: blur(0);
            }
        }
    }

    .experience-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        padding: 0 5vw;
        margin-top: 2vh;
        font-family: 'Montserrat';
    }
    
    .experience-card {
        width: min(75vw, 1000px);
        background-color: rgba($color: #979797, $alpha: 0.2);
        border-radius: 1.5em;
        padding: 1em 1.5em 1vh 1.5em;
        margin-bottom: 1.5em;
        
        .card-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 1em;
    
            .position {
                font-weight: 600;
                font-size: clamp(18px, 1.2em, 20px);
                width: fit-content;
            }
            .date {
                font-size: clamp(16px, 1em, 20px);
                text-align: end;
                width: fit-content;
            }
        }

        .card-content {
            font-size: clamp(16px, 0.8em, 20px);
            white-space: pre-line;
        }

        .icons {
            margin-top: 0.5em;
            .icon {
                transition: 0.75s background-color ease-in-out;
            }
        }

        &.hidden {
            filter: blur(4px);
        }
        &.hidden.show {
            filter: blur(0);
        }
        &:nth-child(even) {
            &.hidden {
                transition: 2s opacity ease-in-out 0.33s, 1.5s transform ease-in-out 0.33s, 2s filter ease-in-out 0.33s;
                transform: translateX(-50%);
            }
            &.hidden.show {
                transform: translateX(0);
            }
        }
        &:nth-child(odd) {
            &.hidden {
                transition: 2s opacity ease-in-out 0.33s, 1.5s transform ease-in-out 0.33s, 2s filter ease-in-out 0.33s;
                transform: translateX(50%);
            }
            &.hidden.show {
                transform: translateX(0);
            }
        }
    }
    
    @media (max-width: $mobileView) {
        .card-header {
            flex-direction: column;
        }
    }
    @media (min-width: $landscapeView) {
        .experience-group {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 1fr;
            row-gap: 1em;
            column-gap: 1.25em;
            align-items: start;
    
            .experience-card {
                height: 90%;
                width: auto;
                position: relative;

                &.hidden {
                    transition: 2s opacity ease-in-out 0.33s, 1.5s transform ease-in-out 0.33s, 1.75s filter ease-in-out 0.33s;
                    transform: translateY(50%);
                }
                &.hidden.show {
                    transform: translateY(0);
                }
    
                .card-content {
                    margin-bottom: 5em;
                }
    
                .icons {
                    position: absolute;
                    width: 90%;
                    bottom: 1.25vh;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}
