.icon {
    transition: 0.4s background-color ease-in-out;

    position: relative;

    width: clamp(60px, 4.5vw, 70px);
    height: clamp(60px, 4.5vw, 70px);
    border-radius: 10px;
    background-color: rgba($color: #9b9b9b, $alpha: 0.2);

    font-size: clamp(40px, 2rem, 50px);
    cursor: pointer;

    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s transform ease-in-out;
    }

    .text {
        transition: 0.5s opacity ease-in-out, 0.6s transform ease-in-out, 0.3s filter ease-in-out;

        position: absolute;
        bottom: 0.23rem;
        left: 50%;
        transform: translateX(-50%) translateY(50%) scale(150%);
        filter: blur(2px);
        opacity: 0;

        font-size: clamp(10px, 0.5rem, 24px);
        font-family: 'Montserrat';
    }

    &:hover {
        background-color: rgba($color: #9b9b9b, $alpha: 0.25);
        svg {
            transform: scale(80%) translate(-60%, -75%);
        }
        .text {
            transform: translateX(-50%) translateY(0%) scale(100%);
            filter: blur(0);
            opacity: 1;
        }
    }
}