.text-header {
    display: inline-block;
    line-height: 1.75rem;
    font-family: 'Montserrat';
    font-size: clamp(30px, 2.5rem, 42px);
    margin-bottom: 1.25em;

    &.hidden::after {
        transition: transform 0.75s ease-in-out 2s;
        content: '';
        display: block;
        padding: 0 1em 10px 1em;
        border-bottom: 3px solid white;
        transform: scaleX(0);
        transform-origin: 0% 50%;
    }
    &.hidden.show::after {
        transform: scaleX(1);
    }
}